<% content_for :my_title do %>
  <title>包子故事-首页</title>
<% end %>
<script type="text/javascript" id="gdt-5050502661141883">
var TencentGDT = TencentGDT || [];
TencentGDT.push({
posid:'5050502661141883',
type:'banner',
//containerid:'ad_container',//如果容器不合适，可自定义广告容器
filltype:'full',//填充方式，full：填满宽度，fix:固定大小,
appid: "1102151323"
});
(function() {
var doc=document, h=doc.getElementsByTagName('head')[0], s=doc.createElement('script');
s.async=true; s.src='http://qzs.qq.com/qzone/biz/res/i.js';
h && h.insertBefore(s,h.firstChild)
})()
</script>

<!-- ad end -->
