<% content_for :my_title do %>
  <title>细思极恐小故事-01章</title>
<% end %>
<strong><h1> 细思恐极的小故事 </h1></strong>
<script type="text/javascript" id="gdt-4070303611069198">
var TencentGDT = TencentGDT || [];
TencentGDT.push({
posid:'4070303611069198',
type:'banner',
//containerid:'ad_container',//如果容器不合适，可自定义广告容器
filltype:'full',//填充方式，full：填满宽度，fix:固定大小,
appid: "1102151323"
});
(function() {
var doc=document, h=doc.getElementsByTagName('head')[0], s=doc.createElement('script');
s.async=true; s.src='http://qzs.qq.com/qzone/biz/res/i.js';
h && h.insertBefore(s,h.firstChild)
})()
</script>


<strong><h2 style="font-size:40px;color:red">细思极恐系列，分享后查看故事答案</h2></strong>

<h2>1 【挥手】</h2>
<p>过了十字路口，面向车道走在步道上。
等待右手边的红绿灯，游览车停了下来。
里面搭载了很多的像是小学生的小孩子们。
他们朝向我这边兴奋的挥手。
毕业旅行吧？
我以前，也曾对着不认识的人这样挥手过呢。
我试着对着孩子们挥手回应。
差不多过了五秒，换成绿灯后游览车开走了。
话说回来，那群孩子好像不怎么快乐的样子。</p>	

<img src='http://xwimg.app111.org/0x0/2014/12/19/13/ef943449-c7c2-46e0-9122-a26bb2f63ce6.jpg'>

<h2>2【反面的确率】</h2>
<p>
某一位数学的教授。他在回家的路途中捡到了一枚硬币。
一面是三角形的模样，另一面是凋刻上了星形模样。
教授研究了相关的确率。
试着查这枚硬币出现反面的机率。
但是，教授并不知道哪一边是反面。 
隔天，教授对各式各样的人询问关于这枚硬币的事情。
不过，大家都说没有见过。
从那天开始，教授就经常随身携带着硬币。
只要一遇到人，就会询问这枚硬币的事情。
有空的话就掷硬币，确认出现面的正反确率。
在那之后不知道过了多少天，不知道那位教授掷出几次硬币。
终于得到”三角”和”星星”出现的确率了。
三角。。。25％ 星。。。75％。
此为能够信赖的确率。
</p>
<script type="text/javascript">
var sogou_ad_id=481178;
var sogou_ad_height=90;
var sogou_ad_width=580;
</script>
<script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>

