<% content_for :my_title do %>
  <title>细思极恐小故事-02章</title>
<% end %>
<strong><h1> 细思恐极的小故事 </h1></strong>
<script type="text/javascript" id="gdt-6050109681362477">
var TencentGDT = TencentGDT || [];
TencentGDT.push({
posid:'6050109681362477',
type:'banner',
//containerid:'ad_container',//如果容器不合适，可自定义广告容器
filltype:'full',//填充方式，full：填满宽度，fix:固定大小,
appid: "1102151323"
});
(function() {
var doc=document, h=doc.getElementsByTagName('head')[0], s=doc.createElement('script');
s.async=true; s.src='http://qzs.qq.com/qzone/biz/res/i.js';
h && h.insertBefore(s,h.firstChild)
})()
</script>

<strong><h2 style="font-size:40px;color:red">细思极恐系列，分享后查看故事答案</h2></strong>

<h2>3【友人】</h2>
<p>受母亲的托付，去买扫把和抹布。
途中，因为肚子饿就到店里面点东西吃，意外遇到了友人。
友人不知怎么一脸凝重的表情，我什麽也没问。
然后我吃完东西就回去了。
三天后，友人死了。
死因似乎不明的样子。
但是，在葬礼的时候我察觉到了友人的死因。
我大概已经回不去了。。。</p>	

<img src='http://xwimg.app111.org/0x0/2014/12/19/13/b8dae5aa-543f-4c5c-ab61-fcbe389189f6.jpg'>
<script type="text/javascript" id="gdt-4070303611069198">
var TencentGDT = TencentGDT || [];
TencentGDT.push({
posid:'4070303611069198',
type:'banner',
//containerid:'ad_container',//如果容器不合适，可自定义广告容器
filltype:'full',//填充方式，full：填满宽度，fix:固定大小,
appid: "1102151323"
});
(function() {
var doc=document, h=doc.getElementsByTagName('head')[0], s=doc.createElement('script');
s.async=true; s.src='http://qzs.qq.com/qzone/biz/res/i.js';
h && h.insertBefore(s,h.firstChild)
})()
</script>

<h2>4【车祸】</h2>
<p>
我发生了一场严重的车祸，与我同行的女友不幸丧生，而我却失明了，当我在医院醒来时，医生说我运气
很好，刚好有适合的眼睛能替我动手术，在恢复视力的那天，我望向镜中的我时，眼泪却止不住的流下来
。。。
</p>

