<% content_for :my_title do %>
  <title>细思极恐小故事-04章</title>
<% end %>
<strong><h1> 细思恐极的小故事 </h1></strong>
<script type="text/javascript" id="gdt-4070303611069198">
var TencentGDT = TencentGDT || [];
TencentGDT.push({
posid:'4070303611069198',
type:'banner',
//containerid:'ad_container',//如果容器不合适，可自定义广告容器
filltype:'full',//填充方式，full：填满宽度，fix:固定大小,
appid: "1102151323"
});
(function() {
var doc=document, h=doc.getElementsByTagName('head')[0], s=doc.createElement('script');
s.async=true; s.src='http://qzs.qq.com/qzone/biz/res/i.js';
h && h.insertBefore(s,h.firstChild)
})()
</script>

<h2>联谊</h2>
<p>某日，我和友人A君跟B君一同参加网路上约好的联谊。 
到达指定餐厅后，马上就看到了女孩们的位置。 
「你们本人比相片上还漂亮呢!!」我看着她们，亲切的笑着。 
「但为什么你们只有两人呢?C小姐不来了吗」A君问道，的确，她们只有两人 
「唉唉~不好意思，C小姐她今天感冒没办法来了~」其中最可爱的A小姐答道， 
太可恶了，这不就代表今天我们三个男生一定会有一个要悲惨的孤单着吗?! 
算了，不想这么多，反正我这么幸运，绝对不会是我。 
抱着这样的想法，我开开心心的吃着晚餐，B君许多无厘头的搞笑把气氛炒得很热呢。 
「唉唉...」我骑着车，看着骑在前面的A君跟B君双双对对，「想不到我就是那悲惨的人..」我以往都是最幸运的，只要有联谊，总会抽中最漂亮的那名女孩子，「看来是气数已尽。」 
「你看起来很烦恼呢~」停红绿灯时，座在A君后面的B小姐转头看着我，「果然是没有女伴的关系阿」她笑着，露出一口整齐洁白的牙齿，两只手还紧紧抱着A君， 
「你就别再这样说了吧~」我苦笑， 
其实B小姐也是个美人儿呢，笑起来会有澹澹的酒窝，一头长发再加上瓜子脸，只是不知道她侧面如何，有些女孩子正面很好看，但侧面就不得而知罗~ 
我骑在他们后面暗自想着，突然，我似乎想到了什么，马上掉头离去。 
果然，我还是很幸运的</p>	
<script type="text/javascript" id="gdt-4070303611069198">
var TencentGDT = TencentGDT || [];
TencentGDT.push({
posid:'4070303611069198',
type:'banner',
//containerid:'ad_container',//如果容器不合适，可自定义广告容器
filltype:'full',//填充方式，full：填满宽度，fix:固定大小,
appid: "1102151323"
});
(function() {
var doc=document, h=doc.getElementsByTagName('head')[0], s=doc.createElement('script');
s.async=true; s.src='http://qzs.qq.com/qzone/biz/res/i.js';
h && h.insertBefore(s,h.firstChild)
})()
</script>


<h2>图书馆</h2>
<p>
今天我去图书馆借书来看。
位于馆内角落的书架是小说类别的，
我对小说很感兴趣因此便去那选书。
当我出抽第一本书时，书页却零落的掉了下来。
此时我与书架对面的人在我抽出书本时眼神交会了一会。
我继续在书架前花了约10钟左右选出3本看起来挺有趣的书，
拿到柜台请管理员办理借书手续。
在回家的路上我心理想着应该也把第一本书借回来的，
但是书变成那样也没办法了.....今天就借这些书回家吧
</p>
<script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>

