<% content_for :my_title do %>
  <title>细思极恐小故事-05章</title>
<% end %>
<strong><h1> 细思恐极的小故事 </h1></strong>
<script type="text/javascript" id="gdt-4070303611069198">
var TencentGDT = TencentGDT || [];
TencentGDT.push({
posid:'4070303611069198',
type:'banner',
//containerid:'ad_container',//如果容器不合适，可自定义广告容器
filltype:'full',//填充方式，full：填满宽度，fix:固定大小,
appid: "1102151323"
});
(function() {
var doc=document, h=doc.getElementsByTagName('head')[0], s=doc.createElement('script');
s.async=true; s.src='http://qzs.qq.com/qzone/biz/res/i.js';
h && h.insertBefore(s,h.firstChild)
})()
</script>

<h2>快跑</h2>
<p>有一天,我突然在厨房找到了一本日记,上面署名者是我爷爷, 
这让我怀念起了他,从小爷爷就扶养我长大,直到某一天突然在家中心脏病发而死, 
想了想我翻开了日记,上面写着: 
当你翻开这日记时 
我早已逝去了 
其实啊,你爸爸并不是不爱你 
其实是因为家里太穷 
这间房子也是你爸爸身上最后的钱,买来的 
宝贝孙子,接下就告诉你爷爷的藏钱地方吧 
千年杉下有种草 
那种草叫做鬼针草 
记得以前教你快速解迷的人是我吗? 
快点用那笔百米跑步六秒的速度解吧..... 
快啊!快啊!快啊！！</p>	
<script type="text/javascript" id="gdt-4070303611069198">
var TencentGDT = TencentGDT || [];
TencentGDT.push({
posid:'4070303611069198',
type:'banner',
//containerid:'ad_container',//如果容器不合适，可自定义广告容器
filltype:'full',//填充方式，full：填满宽度，fix:固定大小,
appid: "1102151323"
});
(function() {
var doc=document, h=doc.getElementsByTagName('head')[0], s=doc.createElement('script');
s.async=true; s.src='http://qzs.qq.com/qzone/biz/res/i.js';
h && h.insertBefore(s,h.firstChild)
})()
</script>


<h2>房门</h2>
<p>
因为出勤的关系我与同事租住了一间酒店的房间
当时同事还有事要办今晚不会回来
因为我很胆小所以早早就上床睡觉
但是在深夜的时候我却听到「咯咯」的敲门声
「是酒店的职员吗?」我叫道却没人回应
我看着房门感到非常害怕
那个敲门声一直从深夜持续到黎明才停止
然后我立刻就去退房了
之后我和出勤回来的同事说起敲门声的事
「果然发生了呢」他这样说
他说这间酒店以前发生过火灾
有个人因为逃走不及被困在那个房间里
到现在还是找不到他的尸体或残骸
啊啊... 还好我可以打开那个房门呢......
</p>
<script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>

