<% content_for :my_title do %>
  <title>细思极恐小故事-07章</title>
<% end %>
<strong><h1> 细思恐极的小故事 </h1></strong>
<script type="text/javascript" id="gdt-4030605652706602">
var TencentGDT = TencentGDT || [];
TencentGDT.push({
posid:'4030605652706602',
type:'banner',
//containerid:'ad_container',//如果容器不合适，可自定义广告容器
filltype:'full',//填充方式，full：填满宽度，fix:固定大小,
appid: "1102151323"
});
(function() {
var doc=document, h=doc.getElementsByTagName('head')[0], s=doc.createElement('script');
s.async=true; s.src='http://qzs.qq.com/qzone/biz/res/i.js';
h && h.insertBefore(s,h.firstChild)
})()
</script>


<h2>杀人影片</h2>
<p>各位朋友，你听说过「杀人影片」这种东西吗？那是一种在片里加入大量虐杀剧情，只有熟人才知道的地下影片。有人说，这种影片甚至是凶手自己拍摄的真实杀人事件。某天和我一起喝酒的朋友，说他手上有这类怪异影带就好像老饕会拼死去吃河豚和毒蝎这样的珍馐自认胆子颇大又充满好奇心的我，依旧希望能看到这样的东西于是他约我在山上的隐蔽小屋，让我观看这样稀奇的影带兴奋不已的我照约定准时的到了小屋朋友却迟到了三十分钟，朋友脸红的笑着说「抱歉、抱歉～因为我家的老三突然发烧了」朋友放了期待的影片，背景充满令人鼻酸的哭闹和颤抖的笑声是一个大约十岁的小孩，被凶手一刀一刀切割成碎片的悲惨故事因为剧情实在是太过惨烈，我看到一半就后悔的把电视关掉正所谓好奇心会杀死一只猫，提出想看影片的我真是罪该万死看完后，我用着非常大声的声音像朋友不满的问说「这种影片你居然看的下去，你不是自己也有孩子吗？」面对着我那愤慨的问题，朋友漫不经心的回答了一句话「对啊，有两个啊。但是，那又怎么样？」听到朋友这句冷酷的话的我，脸色惨白的跌坐在一旁的沙发上。</p>	
<center>
<img width='350' height='350' src='http://dongshaohui-oss.oss-cn-hangzhou.aliyuncs.com/baonimanyi.jpg'>
</center>
<h2>监控</h2>
<p>
学校附近的购物中心最近传出，有一个小女孩在厕所被强J的消息
女孩被凌辱到子宫破裂，店家为了商誉因此用钱把事情压下来
考虑到学生的心情和安全，学校的家长会长特别向店长用电话询问
「事情已经在学生间传开了…请问真的有这种事情吗？还是只是谣言？」
店长非常直接回答说「根本就没有这种事情，您别听人家乱讲啦！」
「我们从开店时就在店里的每间厕所都装了监视器，我已经用我的双眼
一间一间的确认过了，这些事情都是空穴来风，请您千万不要担心！」
得知是谣言后，会长非常有礼貌的向店长道歉并承诺向学生们说明
但在挂下电话后，会长的脸瞬间从满足的微笑转为惊悚的惨白… 
</p>


<script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>

