<% content_for :my_title do %>
  <title>细思极恐小故事-09章</title>
<% end %>
<strong><h1> 细思恐极的小故事 </h1></strong>
<script type="text/javascript" id="gdt-4030605652706602">
var TencentGDT = TencentGDT || [];
TencentGDT.push({
posid:'4030605652706602',
type:'banner',
//containerid:'ad_container',//如果容器不合适，可自定义广告容器
filltype:'full',//填充方式，full：填满宽度，fix:固定大小,
appid: "1102151323"
});
(function() {
var doc=document, h=doc.getElementsByTagName('head')[0], s=doc.createElement('script');
s.async=true; s.src='http://qzs.qq.com/qzone/biz/res/i.js';
h && h.insertBefore(s,h.firstChild)
})()
</script>


<h2>聊天室</h2>
<p>今天再来上聊天室聊个天解解闷吧！ 
自从出车祸后，脚还是没有完全康复，只能待在家里玩笔电，不过想想这样难得的悠闲也不错呀~ 
虽然现在已经是深夜了，但还是有许多夜猫子在聊天呢。 
随即有个男人向我发送了讯息。 
聊了一阵子感觉这人还不差呢。 
突然他向我要我的照片，我脑筋动了动回他。 
“好呀！不过你先得给我你的照片才行唷！” 
嘻嘻，不然只有我给他，我岂不是吃亏了吗？ 
“那也得先等你传给我你的照片之后我才能给你看我阿” 
这人真贼呢！不过没关系， 给他看看我也没关系。 
因为是在家里，所以只轻松的打了一层底，不过我还是依然美丽呢~ 
我用笔电内建的自拍系统，随意的对镜头笑了一下拍了一张。 
由于我习惯只在电脑旁边开个小灯泡，所以房间内电灯没开。 
看起来虽然没办法像平常有打光时那样的神采奕奕，但我的脸依然清秀可人呢。 
“拿去吧！看到可别吓到罗！” 
我对我的长相还是很有自信的。 过了十几分钟，他都没有回复讯息。 
“唉！你该不会说话不算话吧！轮到你给我你的照片了唷！” 
“没问题。” 
“拿去吧！看到……可别吓到罗。” 
我接收了他传给我的照片。 
心想，如此有自信，难道他也是难得一见的帅哥吗？ 
一打开，不由得有点生气 
“你搞什么呀！这不是我刚刚传给你的照片吗！” </p>	
<center>
<img width='350' height='350' src='http://dongshaohui-oss.oss-cn-hangzhou.aliyuncs.com/baonimanyi.jpg'>
</center>
<h2>手提包</h2>
<p>
我在车站的长椅上等电车时，旁边坐了一位抱着小婴儿的女士。 
喜欢小孩的我就一直盯着那小孩看。 
似乎是察觉到我的视线，那位女士问都没问就直接说道：“这个啊？其实是手提包啦。” 
说着便把小婴儿的衣服卷起来，将在小婴儿肚子上的拉鍊给我看。 
看起来的确是这样，眼珠似乎是用玻璃珠做成的。 
“这包包做得真好呢。” 
“哪里。真的是很难做呢，又很费时。不过谁叫我喜欢废物利用呢。” 
女士一边笑着一边说，便搭上刚好到站的电车离开了。 
我原本也是要搭同一班电车，最后却只能从长椅上站起来，目送离站的那台电车。 
</p>


<script type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>

